{% extends "base.html" %}

{% block content %}
<h1>Сайт: {{ url.name }}</h1>
<p>Дата создания: {{ url.created_at }}</p>

<h2>Проверки</h2>
<form method="post" action="{{ url_for('add_check', url_id=url.id) }}">
    <button type="submit" data-test="checks">Запустить проверку</button>
</form>

<table data-test="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Код ответа</th>
            <th>h1</th>
            <th>title</th>
            <th>description</th>
            <th>Дата создания</th>
        </tr>
    </thead>
    <tbody>
        {% for check in checks %}
        <tr>
            <td>{{ check.id }}</td>
            <td>{{ check.status_code }}</td>
            <td>{{ check.h1 }}</td>
            <td>{{ check.title }}</td>
            <td>{{ check.description }}</td>
            <td>{{ check.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
