{% extends "base.html" %}

{% block content %}
<h1>Сайт: {{ url[1] }}</h1>
<p>Дата создания: {{ url[2] }}</p>

<h2>Проверки</h2>
<form method="post" action="{{ url_for('add_check', url_id=url[0]) }}">
    <button type="submit" data-test="checks">Запустить проверку</button>
</form>

<table data-test="checks">
    <thead>
        <tr>
            <th>ID</th>
            <th>Код ответа</th>
            <th>h1</th>
            <th>title</th>
            <th>description</th>
            <th>Дата создания</th>
        </tr>
    </thead>
    <tbody>
        {% for check in checks %}
        <tr>
            <td>{{ check[0] }}</td>
            <td>{{ check[1] }}</td>
            <td>{{ check[2] }}</td>
            <td>{{ check[3] }}</td>
            <td>{{ check[4] }}</td>
            <td>{{ check[5] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
