{% extends "base.html" %}

{% block content %}
<h1>Список сайтов</h1>

<table data-test="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Дата создания</th>
            <th>Последняя проверка</th>
        </tr>
    </thead>
    <tbody>
        {% for url in urls %}
        <tr>
            <td>{{ url.id }}</td>
            <td><a href="{{ url_for('show_url', url_id=url.id) }}">{{ url.name }}</a></td>
            <td>{{ url.created_at }}</td>
            <td>{{ url.last_check }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
